<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<p>
  <strong>Hire date:</strong>
  <%= @user.hire_date %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @user.dept %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @user.salary %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @user.manager %>
</p>



<p>
  <strong>Leave Requests:</strong>
  <% @request.each do |request| %>
  <%= request.employee_name %>
  <%= request.start_date %>
  <%= request.end_date %>
  <%= request.leave_type %>

</p>
<% end %>

