<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<p>
  <strong>Hire date:</strong>
  <%= @user.hire_date %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @user.dept %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @user.salary %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @user.manager %>
</p>



<p>
  <strong>Leave Requests:</strong>
  
  
  <td> <% @request.each do |request| %></td>
  <table style="width:100%">
    <tr>
   <th> Employee Name </th>
   <th> From </th>
   <th> To </th>
   <th> Leave Type </th>
 </tr>
    
 
  <td><%= request.employee_name %></td>
  <td><%= request.start_date %></td>
  <td><%= request.end_date %></td>
  <td><%= request.leave_type %> </td>
  
</p>
</table>
<% end %>

